
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header-iframe {
    width: 100%;
    height: 80px;
    border: none;
}


.header-separator {
    width: 100%;
    height: 3px;
    background-color: #000000;
}


.content-iframe {
    width: 100%;
    flex: 1;
    height: calc(100vh - 83px);
    border: none;
}

/*RUBEN ME CAGO EN TI (broma)*/
